.home {
  background-color: $black;
  @extend %inter;
  position: relative;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;

  @include media("<=phone") {
    height: 100vh;
  }
}

.logo {
  position: absolute;
  top: 60px;
  left: 60px;
  // width: 150px;
  // height: 150px;
  // background-image: url('https://ca.slack-edge.com/T0E298J7L-UM24155C5-95b6536353c6-512');
  // background-position: center;
  // background-size: contain;
  // background-repeat: no-repeat;
  // filter: invert(1);
  color: white;
  @extend %body-25;
  @extend %monument;

  @include media("<=tablet") {
    top: 20px;
    left: 20px;
    font-size: 30px;
  }
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  pointer-events: none;
  mix-blend-mode: difference;

  @include media("<desktop") {
    display: none;
  }
}

.hover-state {
  transform: scale(4);
}

.scroll-indicator {
  display: none;

  @include media("<=phone") {
    display: block;
    width: 40px;
    height: 75px;
    background-image: url('@/assets/images/scrolling-indicator.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    opacity: .5;
    animation: bounce 2s ease-in-out infinite;
  }
}

@keyframes bounce {
  0% {
    bottom: 60px;
  }

  100% {
    bottom: 40px;
  }
}
