.home {
  background-color: $black;
  @extend %inter;
  min-height: 100vh;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  pointer-events: none;
  mix-blend-mode: difference;

  @include media("<desktop") {
    display: none;
  }
}

.hover-state {
  transform: scale(4);
}
