.about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  margin-left: 25.3rem;

  @include media("<=tablet") {
    margin-left: 0;
  }

  &__picture {
    width: 100%;
    max-width: 55.6rem;
    height: 55.6rem;
    margin-right: -10.8rem;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media("<=tablet") {
      width: 300px;
      height: 300px;
      max-width: unset;
      margin-right: 0;
      position: absolute;
      top: 0;
    }
  }

  &__text-block {
    width: 100%;
    position: relative;
    max-width: 71.3rem;
    right: -21.3rem;
    z-index: 1;

    @include media("<=tablet") {
      max-width: unset;
      right: 0;
    }
  }

  &__main-text {
    padding: 5.7rem;
    max-width: 46.9rem;
    @extend %body-25;
    color: $white;
    z-index: 1;
    opacity: 0;

    @include media("<=tablet") {
      padding: 20px;
      max-width: unset;
      font-size: 20px;
    }
  }

  &__white-bg-text-block {
    background-color: $white;
    padding: 5.7rem;
    @extend %body-16;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

    p {
      opacity: 0;

      .word {
        overflow: hidden;
        vertical-align: top;
        display: inline-flex;

        span {
          display: inline-block;
        }
      }
    }


    @include media("<=tablet") {
      padding: 20px;
    }
  }
}
