.contact {
  position: relative;
  color: $white;
  margin-left: 30.4rem;
  margin-right: 13.5rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding-top: 15rem;
  flex-direction: column;

  @include media("<=tablet") {
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__block {
    &.--first {
      width: 100%;
      max-width: 353px;
    }

    @include media("<=tablet") {
      margin-right: 30px;
      margin-top: 20px
    }
  }

  &__title {
    @extend %title-45;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__line {
    height: 1.75px;
    background-color: rgba($color: $white, $alpha: 0.5);
    border-radius: 10px;
    width: 0%;
    margin-right: auto;
    margin-left: 0;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

    @include media ("<=tablet") {
      flex-wrap: wrap
    }
  }

  &__sub-title {
    @extend %body-16;
    margin-bottom: 10px;
    color: $gray;

    &.--big {
      @extend %title-34;
      color: $white
    }
  }

  &__link {
    @extend %body-25;
    line-height: 40px;

    li {
      margin-bottom: 8px;
    }
  }

  .site-credit {
    position: absolute;
    bottom: 0;
    width: 100%;

    &__text {
      margin: 3rem 0;
      @extend %body-16;
      color: $gray;
    }
  }
}

.even {
  margin-left: auto !important;
  margin-right: 0 !important;
}
