.projects {
  margin-left: 30.4rem;
  margin-right: 13.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  color: $white;

  @include media("<=tablet") {
    margin-left: 0px;
    margin-right: 0px;
  }

  &__container {
    width: 100%;
    position: relative;

  }

  .project {
    &__line {
      height: 1.75px;
      background-color: rgba($color: $white, $alpha: 0.5);
      border-radius: 10px;
      width: 0%;
      margin-right: auto;
      margin-left: 0;
    }

    &__desc {
      margin: 40px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media("<=tablet") {
        margin: 20px;
        display: block
      }
    }

    &__title {
      @extend %title-45;
      text-transform: uppercase;
      overflow-y: hidden;
      opacity: 0;
      transform: translateY(50px);
    }

    &__summary {
      color: #757575;
      @extend %body-16;
      line-height: 24px;

      li {
        opacity: 0;
        transform: translateY(10px);
      }

      .coming-soon {
        font-size: 9px;
      }
    }
  }

}

.even {
  margin-left: auto !important;
  margin-right: 0 !important;
}
